=2024.0.0
__pycache__/
/videos
/plan.json
/city_boy_edit.mp4
/audios
/assets/lyrics/asa.txt
/frontend/.vscode
/rust/.cargo
/rust/919.mkv
/rust/final_auto_edit.mp4
/rust/target
/test1.mp4
/test2.mp4
/test_autoedit_720p_30s.mp4
/test_autoedit_grid_30s.mp4
/test_potrait_human.mp4
/test_render.py
